@mixin lora {
  font-family: 'lora', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@mixin ssp {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@mixin ssp-bld {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1,h2,h3,h4 {
  @include lora;
}

h1,h2,h3,h4,p{
  max-width: px-to-rem(480px);
}

p, span, a {
  @include ssp;
}

p {
  color: $black;
}