* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rem($base-font-size);
}

body {
  background-color: $white;
  margin: 0;
}

h1,h2,h3,h4,
p,span,a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, legend,
figure,
table, th, td, caption {
  margin: 0;
  padding: 0;
}

button {
  border: 0 solid transparent;
  background: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}