.#{$namespace}-ftr {
  min-height: 16.4rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  @include breakpoint(tablet) {
    padding: 2.2rem 1.5rem 1.5rem 2.6rem;
  }
  
  &-cnt {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint(tablet) {
      grid-gap: px-to-rem(48px);
      grid-template-columns: 2fr 1.25fr 1fr 1fr 1fr;
      grid-template-areas: 'logo . col1 col2 col3';
    }
  }
  .logo,
  .logo1,
  .logo2,
  .logo3, {
    display: block;
    padding: 24px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid $light-purple;
    @include breakpoint(tablet) {
      padding: 0;
      border-bottom: 0;
    }
  }
  @include breakpoint(tablet) {
    h3,h2 {
      margin-bottom: .6rem;
    }
    .expand {
      display: none;
    }
  }
  
  li {
    margin-bottom: .8rem;
  }
  p {
    color: $white;
  }
  @include breakpoint(tablet) {
    .logo1 {grid-area: col1}
    .logo2 {grid-area: col2}
    .logo3 {grid-area: col3}
  }

}