.#{$namespace}-hero {
  display: flex;
  align-items: center;
  svg {
    max-height: 312px;
  }
  &-xl {
    min-height: px-to-rem(560px);
    max-height: px-to-rem(560px);
    @include breakpoint(mobile) {
      min-height: px-to-rem(456px);
      max-height: px-to-rem(456px);
    }
    .#{$namespace}-hero-svg {
      padding: 12px;
      @include breakpoint(desktop) {
        padding: 24px;
      }
    }
  }
  &-md {
    min-height: px-to-rem(549px);
    max-height: px-to-rem(549px);
    @include breakpoint(mobile) {
      min-height: px-to-rem(287.9px);
      max-height: px-to-rem(287.9px);
    }
    svg {
      max-height: 239px;
    }
  }
  &-nrml {
    flex-direction: column-reverse;
  }
  &-rvrs {
    flex-direction: column;
  }

  @include breakpoint(mobile) {
    flex-direction: row;
  }
  &-cpy {
    padding: px-to-rem(18px) px-to-rem(9px) px-to-rem(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include breakpoint(tablet) {
      padding: px-to-rem(48px) px-to-rem(12px) px-to-rem(48px) px-to-rem(24px);
    }
  }
  &-img {
    background-image: url(../../img/evan-smogor-779968-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  &-svg {
    padding: 12px 24px;
    @include breakpoint(tablet) {
      padding: 24px;
    }
    text-align: center;
    width: 100%;
    align-self: center; 
  }
  
  &-cpy,
  &-img,
  &-svg {
    flex: 1 1 50%;
    max-width: 100%;

  }
}