.nav {
  min-height: 6.3rem;
  width: 100%;
  max-width: 100%;
  background-color: $purple;
  display: flex;
  padding: 1.2rem 1.5rem;
  @include breakpoint(desktop) {
    padding: 1.9rem 1.5rem;
  }
  justify-content: space-between;
  align-items: center;

  &_cnt {
    flex: 1 1 50%;
    list-style-type: none;
    text-align: right;
    display: none;
    @include breakpoint(desktop) {
      display: inline-block;
    }
  }

  &_lnk {
    display: none;
    @include breakpoint(desktop) {
      display: inline-block;
    }
    
    margin-right: 1.5rem;
    
    &:last-child {
      margin-right: 0;
    }
    &:hover a:after {
      border-bottom: 2px solid $white;
      transition: border-bottom-color .6s ease;
    }
    span {
      @include ssp-bld;
      border-bottom: 2px solid transparent;
    }
    a {
      transition: border-bottom-color .6s ease;
      position: relative;
      color: $white;
    }
  }
  

  .#{$namespace}-logo {
    flex: 1 1 50%;
    max-width: 50%;
  }

  &_mob {
    position: fixed;
    left: -100%;
    height: 100%;
    transition: left .6s ease;
    top: 6.3rem;
    background-color: $white-2;
    width: 100vw;
    .nav_lnk {
      display: block;
      padding: 24px;
      text-align: left;
      margin: 0;
      border-bottom: 1px solid $light-purple;
      &:hover span {
        border-bottom: 2px solid $black;
        transition: border-bottom-color .6s ease;
      }
    }

    a {display: block;}
    
    span {
      color: $black;
    }
  }

  &_burger {
    height: 30px;
    width: 30px;
    padding: 4px 0;
    @include breakpoint(desktop) {
      display: none;
    }
    cursor: pointer;
    span {
      height: 2px;
      display: block;
      transition: transform .6s ease;
      width: 100%;
      background-color: $white;
      &:nth-child(2) {
        margin: .5rem 0;
      }
    }
  }
}
