.#{$namespace}-t1 {
  font-size: px-to-rem(24px);
  line-height: px-to-rem(31px);
}
.#{$namespace}-t2 {
  font-size: px-to-rem(20px);
  line-height: px-to-rem(25px);
}
.#{$namespace}-t3 {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(20px);
}