.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ws-nw {
  white-space: nowrap;
}
.pos-top-right {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mw-1200 {
  max-width: px-to-rem(1200px);
}
.mw-960 {
  max-width: px-to-rem(960px);
}
.mw-540 {
  max-width: px-to-rem(540px);
}
.mw-480 {
  max-width: px-to-rem(480px);
}
.mw-790 {
  max-width: px-to-rem(790px);
}
.mw-304 {
  max-width: px-to-rem(304px);
}
.mw-113 {
  max-width: px-to-rem(113px);
}
[class^="mw"] {
  width: 100%;
  margin: 0 auto;
}
.mb-9 {
  margin-bottom: px-to-rem(9px);
}
.mb-12 {
  margin-bottom: px-to-rem(12px);
}
.mb-19 {
  margin-bottom: px-to-rem(19px);
}

.mb-36 {
  margin-bottom: px-to-rem(36px);
}
.mb-52 {
  margin-bottom: px-to-rem(52px)!important;
}
.mt-52 {
  margin-top: px-to-rem(52px)!important;
}
.p-08 {
  padding-left: px-to-rem(8px);
  padding-right: px-to-rem(8px);
}