.ta-r {
  text-align: right;
}
.ta-l {
  text-align: left;
}
.ws-nw {
  white-space: nowrap;
}

.mw-1200 {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
.mw-960 {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.mb-9 {
  margin-bottom: px-to-rem(9px);
}
.mb-12 {
  margin-bottom: px-to-rem(12px);
}

.mb-36 {
  margin-bottom: px-to-rem(36px);
}
.mb-52 {
  margin-bottom: px-to-rem(52px)!important;
}