.bg-purp {
  background-color: $purple;
}
.bg-purp-lt {
  background-color: $light-purple;
}
.bg-nvy {
  background-color: $navy;
}
.bg-white {
  background-color: $white-2;
}
.bg-black {
  background-color: $black;
}