.rotate45deg {
  transform: rotate(45deg);
  transform-origin: left top;
  transition: transform .6s ease;
}

.rotate-45deg {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  transition: transform .6s ease;
}

.rotate0deg {
  transform: rotate(-deg);
}